.landing-page-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  // padding: 20px;

  .grid-container {
    display: flex;
    justify-content: space-around;
    flex: 1;

    .gemini-history,
    .gpt-history {
      display: flex;
      flex-direction: column;
      width: 48vw;
      height: 86vh;
      overflow-y: auto;
      padding: 10px;

      .title {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
        text-align: center;
      }
      .chat-message {
        margin: 10px 0;
        padding: 4px 8px;
        border-radius: 15px;
        color: white;
        &.user {
          background-color: #0069e2;
          align-self: flex-end;
          width: fit-content;
          max-width: 50%;
        }

        &.bot {
          align-self: flex-start;
          width: fit-content;
        }
      }
    }
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 800px;
    padding: 0 8px;
    border-radius: 20px;
    background-color: #4e4e4e;

    #chat-input {
      flex-grow: 1;
      min-height: 24px;
      max-height: 200px;
      padding: 12px 8px;
      border: none;
      color: white;
      margin-left: 11px;
      font-size: 16px;
      line-height: 1.4;
      resize: none;
      overflow-y: auto;
      background-color: #4e4e4e;

      &:focus {
        outline: none;
        border-color: #0077ff;
      }
    }
  }
}
