.landing-page-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(188, 188, 188);
   .grid-container{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .gemini-history{
        border:  1px solid #ccc;
        width: 48vw;
        overflow-y: auto;
        background-color: black;
    }
    .gpt-history {
        overflow-y: auto;
        width: 48vw;
        height: 85vh;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: black;
    }
    
    .gpt-message {
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
    
    .gpt-message.user {
        background-color: #0069e2;
        align-self: flex-end !important;
        width: fit-content;
        max-width: 50%;
    }
    
    .gpt-message.bot {
        background-color: #437e00;
        align-self: flex-start !important;
        width: fit-content;
        max-width: 50%;
    }
}
    
    .chat-input-container {
      display: flex;
      min-height: 24px;
      max-height: 200px;
      max-width: 800px;
      margin: auto auto 20px auto;
      border-radius: 20px;
      align-items: center;
      border: 1px solid #ccc;
      justify-content: space-between;
      padding: 0 8px;
      background-color: #ffff;
    }
  
    #chat-input {
      flex-grow: 1;
      min-height: 24px;
      max-height: 200px;
      min-width:700px;
      padding: 12px 8px;
      border: 0;
      margin-left: 11px;
      font-size: 16px;
      line-height: 1.4;
      resize: none;
      overflow-y: auto;
      background-color:#ffff;
    }
  
    #chat-input:focus {
      outline: none;
      border-color: #0077ff;
    }
  }