@import 'theme/scrollbar.scss';

.sidebar {
//   position: fixed;
//   top: 0;
//   left: 0;
  width: 350px;
  height: 100vh;
  background-color: black; 
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 2000;
  box-shadow: #b002c72c 1px 20px 40px;

  // Apply scrollbar styles
  @include custom-scrollbar(#63636364,#1a1a1a);

  .header {
    margin-bottom: 1rem;
  }

  .chat-list {
    flex-grow: 1;
    overflow-y: auto;

    .chat-item {
      border-radius: 4px;
      padding: 0.8rem;
      margin-bottom: 0.5rem;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        background-color: #1a1a1a;
        

        &:hover {
          background-color: var(--mui-secondary-main);
        }
      }

      .chat-title {
        font-weight: 600;
      }

      .chat-description {
        color: white;
        font-size: 0.875rem;
      }
    }
  }

  .new-chat-button {
    width: 50%;
    background-color: transparent;
    border: 1px solid #b002c7;
    color: #b002c7;
    margin: 10px 0px;
  }
}
